.boxes{
    padding: 80px 20px;
    background: $grey;
    text-align: center;
}

.boxes__headline{
    font-weight: normal;
    margin-bottom: 20px;
    font-size: 2em;
    text-transform: uppercase;
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
}

.boxes__list{
    list-style: none;
    @media screen and (min-width: 600px){
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 15px;
    }
    @media screen and (min-width: 1000px){
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-column-gap: 15px;
    }
}

.boxes__text {
    font-size: 1.1em;
    margin: 0 auto;
    margin-top: 25px;
    max-width: 550px;
    @media screen and (min-width: 600px){
        font-size: 1.2em;
    }
    @media screen and (min-width: 1000px){
        font-size: 1.3em;
    }
}

.boxes__box{
    background: white;
    border: 3px solid $black;
    margin: 0px auto;
    padding: 15px;
    max-width: 600px;
    text-align: center;
    font-size: 1.1em;
    position: relative;
    margin-bottom: 15px;
}
