@import '_vars';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

// Generic fixed-width container
.container{
    max-width: 1000px;
    margin: 0 auto;
    padding: 0px 20px;
}

.curvy{
    height: 10px;
    background-image: url('/img/curvy-line.svg');
    background-size: contain;
    background-repeat: repeat-x;
    border: none;
    width: 100%;
}

@import 'hero';
@import 'list';
@import 'quote';
@import 'message';