.sabrina_illustration_1 {
  background-image: url('/img/sabrina_illustration_1.svg');
}

.sabrina_illustration_2 {
  background-image: url('/img/sabrina_illustration_2.svg');
}

.sabrina_illustration_3 {
  background-image: url('/img/sabrina_illustration_3.svg');
}

.sabrina_illustration_4 {
  background-image: url('/img/sabrina_illustration_4.svg');
}

.sabrina_illustration_5 {
  background-image: url('/img/sabrina_illustration_5.svg');
}

.sabrina_illustration_6 {
  background-image: url('/img/sabrina_illustration_6.svg');
}
