.slider{
    padding: 50px 10px 30px 10px;
    background: $grey;
    @media screen and (min-width: 600px){
        padding: 60px 10px 40px 10px;
    }
    @media screen and (min-width: 1000px){
        padding: 80px 10px 60px 10px;
    }
}
.white-slider {
    background: #fff;
}

.slider__quotes{
    margin-top: 50px;
    @media screen and (min-width: 600px){
        margin-top: 50px;
    }
    @media screen and (min-width: 1000px){
        margin-top: 80px;
    }
    p {
        font-style: italic;
        @media screen and (min-width: 600px){
            margin-top: 5px;
            font-size: 1.1em;
        }
        @media screen and (min-width: 1000px){
            margin-top: 5px;
            font-size: 1.2em;
        }
    }
    &.slider__quotes--with-columns{
        @media screen and (min-width: 600px){
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-column-gap: 40px;
        }
        @media screen and (min-width: 1000px){
            grid-column-gap: 60px;
        }
    }
}

.slider__quote{
    margin-bottom: 30px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    q{
        display: block;
        margin-top: 10px;
        @media screen and (min-width: 600px){
            margin-top: 15px;
            font-size: 1.1em;
        }
        @media screen and (min-width: 1000px){
            margin-top: 20px;
            font-size: 1.2em;
        }
    }
}

// Slick customisations
.slider__carousel{
    position: relative;
}

.slick-slide{
    padding: 0;
    @media screen and (min-width: 600px){
        padding: 0px 10px;
    }
}

.slider__carousel_nav {
    max-width: 900px;
    margin: 0 auto;
    margin-top: 50px;

    .slick-slide {
        text-align: center;
    }
    button {
        background: none;
        padding: 5px 7px;
        border: 2px solid $black;
        font-size: 0.9em;
        font-family: 'PT Sans', sans-serif;
        font-weight: bold;
        cursor: pointer;
        @media screen and (min-width: 600px){
            font-size: 1em;
            padding: 10px 13px;
            border: 3px solid $black;
        }
        &:focus {
            outline: none;
        }
    }
    .slick-current {
        button {
            background: $yellow;
            border: 2px solid $yellow;
            @media screen and (min-width: 600px){
                font-size: 1em;
                border: 3px solid $yellow;
                margin-left: 0px;
            }
        }
    }
    .slick-slide{
        padding: 0;
        margin-left: -2px;
        @media screen and (min-width: 600px){
            padding: 0px 10px;
        }
        &:first-child {
            margin-left: 1px;
        }
    }
}



.slick-arrow{
    top: initial;
    bottom: -35px;
    z-index: 2;
}
.slick-prev{
    left: 15px;
}
.slick-next{
    right: 15px;
}

.slick-prev::before, .slick-next::before{
    color: $black;
    font-weight: bold;
}

.slick-dots{
    position: relative;
    width: initial;
    margin: 0 auto;
    z-index: 1;
}
.slick-dots li {
    width: 15px;
    height: 15px;
    margin: 0px 10px;
    border-radius: 100%;
    background-color: $black;
    border: 2px solid $black;
    transition: all .2s ease-in-out;
    &.slick-active{
        background-color: $yellow;
        transform: scale(1.25);
    }
    button{
        height: 0;
        width: 0;
    }
    button:before{
        display: none;
    }
}

.half {
    text-align: left;
    margin-bottom: 15px;
    p {
        margin-bottom: 15px;
        &:last-of-type {
            margin-bottom: 0px;
        }
    }
    @media screen and (min-width: 600px){
        width: 49%;
        display: inline-block;
        padding: 15px 30px 0px 0;
        vertical-align: top;
    }
}

.quotes {
    p {
        font-style: italic;
    }
}

.story-slider {
    text-align: center;
    font-size: 1.1em;
    .story-title {
        font-family: 'PT Sans', sans-serif;
        text-align: left;
        margin-bottom: 5px;
        font-size: 1.4em;
        @media screen and (min-width: 600px){
            font-size: 1.6em;
        }
    }
    .story-image {
        display: inline-block;
        background-size: contain;
        width: 200px;
        height: 200px;
        margin: 0 auto;
        background-repeat: no-repeat;
        vertical-align: middle;
        @media screen and (min-width: 600px){
            width: 300px;
            height: 300px;
        }
    }
    .story-content, .further-story-content {
        width: 100%;
        text-align: left;
        @media screen and (min-width: 600px){
            width: 50%;
            display: inline-block;
            margin-left: 30px;
            vertical-align: middle;
        }
        p {
            margin-bottom: 15px;
            &:last-of-type {
                margin-bottom: 0px;
            }
        }
    }
    .further-story-content {
        width: 100%;
        margin-top: 25px;
        @media screen and (min-width: 600px){
            width: 85%;
        }
    }
}
