<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{{ siteTitle }}{% endblock %}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="{{ siteDescription }}"/>
    <link rel="canonical" href="" />
    <link href="/css/main.css" rel="stylesheet" />
    <link rel="shortcut icon" href="/img/favicon.jpg" type="image/x-icon">
</head>
<body>        
    
    {% block content %}
    {% endblock %}

    <script src="/js/bundle.js"></script>
</body>
</html>