{% extends "partials/_template.html" %}
{% block content %}
    <div class="delivervision">
        <section class="hero">
            <div class="hero__bg hero__bg--vision"></div>
            <div class="container hero__inner">
                    <img class="hero__logo" src="/img/logo.png" alt="Lambeth Council"/>
                    <a class="hero__home" href="/">Back home</a>
                    <h1 class="hero__headline">Delivering on our vision</h1>
                    <p class="hero__slogan">To deliver our vision, it is broken down into three digital themes and outcomes. They focus on transforming how we support our residents, use our data, and work as a council to remain relevant in the 21st century.</p>
            </div>
        </section>

        <section class="list container">
            <aside class="list__intro">
                <h2 class="list__headline"><strong>End-to-end service experience</strong></h2>
                <p class="list__subtitle">Making it easier to engage with us digitally</p>
            </aside>
            <ul class="list__items">
                <li class="list__item"><p>Offer improved experiences that meet the raised expectations of our customers by redesigning services across Lambeth</p></li>
                <li class="list__item"><p>Use technology to help meet the demand put on our services, and ensure focus is in the right areas</p></li>
                <li class="list__item"><p>Create seamless digital experiences that work across teams and departments, avoid frustration and delay, and keep customers informed</p></li>
                <li class="list__item"><p>Integrate systems and data, and automate repetitive business processes so staff can concentrate on work that adds value</p></li>
                <li class="list__item"><p>Make digital payments seamless, easy and accessible in every area</p></li>
                <li class="list__item"><p>Ensure that technology and digital standards are in place and that partners and suppliers adhere to them</p></li>
            </ul>
        </section>

        <div class="grey_block">
            <section class="list container">
                <aside class="list__intro">
                    <h2 class="list__headline"><strong>Data driven organisation</strong></h2>
                        <p class="list__subtitle">Using the information we have to understand what people want and need, to define delivery priorities</p>
                </aside>
                <ul class="list__items">
                    <li class="list__item"><p>Integrate, manage and use data as an asset that informs the ongoing improvement of services and customer experiences</p></li>
                    <li class="list__item"><p>Use data and intelligence to design more effective and preventative service models</p></li>
                    <li class="list__item"><p>Develop on-demand management information that gives insight into spend patterns and pressures</p></li>
                    <li class="list__item"><p>Use data from across the borough to support innovation and new service developments for our residents and businesses</p></li>
                    <li class="list__item"><p>Ensure data quality, maintenance, privacy & security are an organisational and partnership priority by design</p></li>
                    <li class="list__item"><p>Seek opportunities to share and publish data openly where it will help to better meet the needs of our customers</p></li>
                </ul>
            </section>
        </div>

        <section class="list container">
            <aside class="list__intro">
                <h2 class="list__headline"><strong>Agile ways of working</strong></h2>
                <p class="list__subtitle">Challenge & change the norms of how we work, removing barriers to innovation & meeting the public’s expectation</p>
            </aside>
            <ul class="list__items">
                <li class="list__item"><p>Enable the creation of an agile, highly skilled and productive workforce that can deliver quality services at pace</p></li>
                <li class="list__item"><p>Align how we govern, procure, manage risk and deliver with agile ways of working</p></li>
                <li class="list__item"><p>Invest in technology, tools and the people to build the capability needed to be responsive to challenges faced by the organisation now and in the future</p></li>
                <li class="list__item"><p>Use technology to improve the productivity and effectiveness of our workforce, enabling mobile working to deliver highly responsive services</p></li>
                <li class="list__item"><p>Ensure our digital vision and priorities are reflected in our policies and strategies across the organisation</p></li>
            </ul>
        </section>


        <section class="boxes">
            <div class="container">
                <h2 class="boxes__headline">To deliver these outcomes, we will deliver small improvements often. Instead of planning the 5 year implementation, let’s:</h2>
                <ul class="boxes__list">
                    <li class="boxes__box">Invest in people first - not technology</li>
                    <li class="boxes__box">Understand user need & work in an agile way</li>
                    <li class="boxes__box">Focus on priority areas of Lambeth</li>
                    <li class="boxes__box">Start small, prove we can deliver</li>
                </ul>
                <p class="boxes__text">This means, building internal capacity to run the programme in an agile way - and deliver benefits early and often</p>
            </div>
        </section>




        <section class="message">
            <hr class="curvy"/>
            <h2 class="message__headline">So, to get started on our vision we will</h2>
            <br>
            <ul class="list__items">
                <li class="list__item"><p>Get senior leader buy in - educate on digital, design, agile, and identify priority areas to transform and / or fix</p></li>
                <li class="list__item"><p>Increase the capacity and capability of current IT / Digital team (design, data, tech, delivery - decision to be made on model / makeup of team)</p></li>
                <li class="list__item"><p>Adopt and embed GDS design, data and technology standards (local gov digital declaration)</p></li>
                <li class="list__item"><p>Establish and resource a Digital Transformation programme to plan and deliver the change</p></li>
                <li class="list__item"><p>Prioritise and fix things that need to be as a result of step 1 and ongoing work</p></li>
                <li class="list__item"><p>User-centred design of a priority holistic service, and a focussed service to inform technology and data choices</p></li>
                <li class="list__item"><p>Case for Change that includes user needs, costs, and benefits (tech and data included)</p></li>
            </ul>
            <br>
            <br>
            <hr class="curvy"/>
        </section>

        <section class="list container">
            <aside class="list__intro">
                <h2 class="list__headline">Explore our digital vision</h2>
                <p class="list__lede">To deliver on this vision we will orientate ourselves around the services we provide, to ensure seamless experiences for our people. Follow Sabrina or Reuben through a possible future of Lambeth services.</p>
            </aside>
            <ul class="list__items">
                <a href="/sabrina.html" class="list__item yellow">
                    <div id="sabrina_profile" class="small_profile"></div>
                    <h3 class="list__subtitle">Sabrina</h3>
                    <p>Follow Sabrina as she navigates her time moving to, and thriving in Lambeth.</p>
                </a>
                <a href="/reuben.html" class="list__item blue">
                    <div id="reuben_profile" class="small_profile"></div>
                    <h3 class="list__subtitle">Reuben</h3>
                    <p>Follow Reuben as he moves through a possible future of getting into work.</p>
                </a>
            </ul>
        </section>
    </div>
{% endblock %}
