{% extends "partials/_template.html" %}
{% block content %}

    <section class="hero">
        <div class="hero__bg"></div>
        <div class="container hero__inner">
                <img class="hero__logo" src="/img/logo.png" alt="Lambeth Council"/>
                <h1 class="hero__headline">Our digital vision</h1>
                <p class="hero__slogan">Lambeth has set out bold strategic imperatives in challenging times</p>
        </div>
    </section>

    <section class="list container">
        <aside class="list__intro">
            <p class="list__description">Our digital vision is to be a connected, inclusive place to thrive. Where everyone has access to excellent services, enabled by modern technology and ways of working.</p>
        </aside>
        <ul class="list__items">
            <li class="list__item list__item--with-number"><span class="list__number">1</span><p>Enable <strong>growth and development</strong>, to provide opportunities for residents to <strong>improve their life chances</strong>, and protect our core revenue streams to help our most vulnerable</p></li>
            <li class="list__item list__item--with-number"><span class="list__number">2</span><p>Ensure benefits of growth <strong>increase community resilience</strong>, and that we target investment at <strong>preventative services</strong></p></li>
            <li class="list__item list__item--with-number"><span class="list__number">3</span><p>Reform the way we <strong>commission and deliver</strong> services with our partners to provide and promote <strong>care and independence</strong></p></li>
            <li class="list__item list__item--with-number"><span class="list__number">4</span><p>Make sure Lambeth is a place where people want to <strong>live, work and invest</strong></p></li>
        </ul>
    </section>

    <section class="quote">
        <blockquote class="quote-box quote-box--all-bold">
            <p class="quote-box__headline">To deliver these we must change the way we work to meet raised expectations. We must be enabled by fit-for-purpose technology and processes to remain relevant in the internet-era.</p>
        </blockquote>
    </section>

    <section class="list container">
        <aside class="list__intro">
            <h2 class="list__headline">Becoming a 21st Century organisation</h2>
            <p class="list__lede">Becoming a 21st century organisation will enable Lambeth to put citizens, businesses and communities at the centre of our services to deliver the best experience possible.</p>
        </aside>
        <ul class="list__items">
            <li class="list__item"><p>Users spend <strong>less time</strong> using the service</p></li>
            <li class="list__item"><p>Users find that there is always an option that <strong>meets their needs</strong></p></li>
            <li class="list__item"><p>Users stay <strong>independent</strong> for as long as they can</p></li>
            <li class="list__item"><p>Users always find the service helpful, and <strong>receive help at the right time</strong></p></li>
            <li class="list__item"><p>Users find the service <strong>easy to use</strong> and understand</p></li>
        </ul>
    </section>

    <!-- <section class="message">
        <hr class="curvy"/>
        <h2 class="message__headline">Our digital vision</h2>
        <p class="message__description">Is to be a connected, inclusive place to thrive. Where everyone has access to excellent services, enabled by modern technology and ways of working.</p>
    </section> -->

    <section class="slider">
        <div class="slider__carousel container" id="home_slider">
                <div>
                    <blockquote class="quote-box">
                            <h3 class="quote-box__headline">Connected</h3>
                            <p>Creating spaces and areas to gather, build relationships, communicate and unite - online or in person, for everyone - to enable growth and development in Lambeth.</p>
                    </blockquote>
                    <div class="slider__quotes slider__quotes--with-columns">
                        <aside class="slider__quote">
                            <hr class="curvy"/>
                            <q>Community cohesion will be very important for the future otherwise the community will become fragmented</q>
                        </aside>
                        <aside class="slider__quote">
                            <hr class="curvy"/>
                            <q>Being connected means less rivalry and more understanding and concern about each other ensuring that we all benefit</q>
                        </aside>
                    </div>
                </div>

                <div>
                    <blockquote class="quote-box">
                            <h3 class="quote-box__headline">Inclusive</h3>
                            <p>People are at the heart of all decisions made, we must understand all of their needs, act in kind, and be caring and open always - to help make Lambeth a place people want to live, work, invest and thrive.</p>
                    </blockquote>
                    <div class="slider__quotes slider__quotes--with-columns">
                        <aside class="slider__quote">
                            <hr class="curvy"/>
                            <q>Not leaving people behind or out. The services have to be for everybody regardless of your background</q>
                        </aside>
                        <aside class="slider__quote">
                            <hr class="curvy"/>
                            <q>It’s about communication and transparency about what the council is capable of delivering, the difficulties they face and why they are not acting</q>
                        </aside>
                    </div>
                </div>


                <div>
                    <blockquote class="quote-box">
                            <h3 class="quote-box__headline">Everyone</h3>
                            <p>Every resident, business, community, council worker. They are our users, lets work with them and represent them all to promote care and independence.</p>
                    </blockquote>
                    <div class="slider__quotes">
                        <aside class="slider__quote">
                            <hr class="curvy"/>
                            <q>There’s lots of people and organisations already doing things [providing services] it’s about getting them involved properly</q>
                        </aside>
                    </div>
                </div>


                <div>
                    <blockquote class="quote-box">
                            <h3 class="quote-box__headline">Services</h3>
                            <p>Providing services that work, are fit for purpose, readily available and enjoyable. We will target our investment to increase resilience in Lambeth.</p>
                    </blockquote>
                    <div class="slider__quotes slider__quotes--with-columns">
                        <aside class="slider__quote">
                            <hr class="curvy"/>
                            <q>Services where everyone feels welcomed and cared about...where people's cultural backgrounds are considered</q>
                        </aside>
                        <aside class="slider__quote">
                            <hr class="curvy"/>
                            <q>We can’t expect people to come to services, services need to also go to them, especially the young people</q>
                        </aside>
                    </div>
                </div>

                <div>
                    <blockquote class="quote-box quote-box--with-big-bottom-margin">
                            <h3 class="quote-box__headline">Modern technology</h3>
                            <p>Technology that is informed by user-need, is design led, and is delivered iteratively. It will be open, scalable, adaptable, easily maintainable, user led, and less reliant on single third party suppliers. The technology of Lambeth will enable modern ways of working.</p>
                    </blockquote>
                    <blockquote class="quote-box quote-box--with-bottom-margin">
                            <h3 class="quote-box__headline">Modern ways of working</h3>
                            <p>Modern ways of working encompasses the structures we work in, the processes we work with, the tools we work with, and the way in which we deliver our work.</p>
                    </blockquote>
                </div>


    </section>

    <section class="list container">
        <aside class="list__intro">
            <h2 class="list__headline">Explore our digital vision</h2>
            <p class="list__lede">To deliver on this vision we will orientate ourselves around the services we provide, to ensure seamless experiences for our people. Follow Sabrina or Reuben through a possible future of Lambeth services.</p>
        </aside>
        <ul class="list__items">
            <a href="/sabrina.html" class="list__item">
                <h3 class="list__subtitle">Sabrina</h3>
                <p>Follow Sabrina as she navigates her time moving to, and thriving in Lambeth. See how a consistent companion service could look and feel in the future.</p>
            </a>
            <a href="/reuben.html" class="list__item">
                <h3 class="list__subtitle">Reuben</h3>
                <p>Follow Reuben as he moves through a possible future of getting into work. Reuben is able to access required services in one place, on one platform and all delivered in a join up way across Lambeth.</p>
            </a>
            <a href="/deliveringourvision.html" class="list__item">
                <h3 class="list__subtitle">Delivering our vision</h3>
                <p>To deliver our vision, it is broken down into three digital themes and outcomes. They focus on transforming how we support our residents, use our data, and work as a council to remain relevant in the 21st century.</p>
            </a>
        </ul>
    </section>

{% endblock %}
