{% extends "partials/_template.html" %}
{% block content %}
<div class="reuben_page">
    <section class="hero">
        <div class="hero__bg hero__bg--reuben"></div>
        <div class="container hero__inner">
                <img class="hero__logo" src="/img/logo.png" alt="Lambeth Council"/>
                <a class="hero__home" href="/">Back home</a>
                <h1 class="hero__headline">Support people into work</h1>
                <p class="hero__slogan">Three concepts that bring to life what a collaborative approach of supporting people into work could look like in a digitally enabled future.</p>
        </div>
    </section>

    <section class="list container">
        <aside class="list__intro">
            <p class="list__lede">Lambeth is changing and growing fast, as more people choose to come to the borough to live, work and study.</p>
            <p class="list__lede">The proportion of residents claiming out-of-work benefits remains above London and national averages. By far the largest group of claims are for health reasons.</p>
        </aside>
        <ul class="list__items">
            <li class="list__item"><p>Approx <strong>11,500 Lambeth residents were unemployed</strong> in the year to June 2018</p></li>
            <li class="list__item"><p>Despite improvement in wage levels <strong>in-work poverty</strong> remains an important issue</p></li>
            <li class="list__item"><p>Lambeth has one of the <strong>highest rates of unemployment</strong> among 50-64 year olds in London</p></li>
        </ul>
    </section>

    <section class="two_column container">
        <h2>Meet Reuben</h2>
        <p>Reuben does not have a lot of formal education, but he prides himself in being a quick learner, working his way to middle management. It's been nearly two years since he was made redundant. His confidence has decreased and he's struggling to make ends meet for his family. This has had a significant impact on his mental well-being and relationships. Reuben wants to take control of his life and get the right support.</p>
        <div class="two_column__image">
            <div class="column">
                <div id="reuben_profile"></div>
            </div>
            <div class="column">
                <ul>
                    <li><strong>Age:</strong> 42</li>
                    <li><strong>Status:</strong> married with 3 children </li>
                    <li class="break-li"><strong>Ward:</strong> Coldharbour</li>

                    <li><strong>Motivations:</strong></li>
                    <li>Supporting his family</li>
                    <li>Spending time with his family</li>
                    <li class="break-li">Being independent and feeling useful</li>

                    <li><strong>Frustrations:</strong></li>
                    <li>Signing-on weekly</li>
                    <li>Zero hour contracts</li>
                    <li>Increasing mental health challenges</li>
                </ul>
            </div>
        </div>
    </section>


<!---------------------------------- FIRST STORY ------------------------------->
    <section class="message">
        <hr class="curvy"/>
        <h2 class="message__headline">Concept 1 - Making the right connections</h2>
        <p class="message__description">A platform centered on connecting people to people, not jobs. Supporting residents on their journey to employment by creating opportunities to develop a diverse network of community and peer support built on relationships.</p>
    </section>

    <section class="slider story-slider">
        <div id="slider1" class="slider__carousel container">
            <div>
                <div class="story-text">
                    <div class="story-image reuben_illustration_1"></div>
                    <div class="story-content">
                        <h3 class="story-title">Reuben's Story</h3>
                        <p>After a recent social housing assessment, the housing advisor suggests Reuben explores the new making the right connections service, to connect to the right employment support.</p>

                        <p>Reuben logs on and creates a profile. He schedules a video call with the Employment Adviser (Amy). She suggests a local group led by Dads, thinking it will be a great way to build his confidence. Reuben agrees and messages the organiser of the local group to find out more.</p>
                    </div>
                </div>
                <div class="further-story-content">
                    <p>Reuben wants to work on his CV, so uses the ‘get feedback’ function on the platform which allows him to submit a CV to a local volunteer. Two days later he receives a notification and message from volunteer, providing feedback and an offer to have a video call to talk it through.</p>

                    <p>He attends the local group for Dads and likes it so much he sign-ups for the next session. He gives the group 4 stars and leaves a recommendation.</p>
                </div>
            </div>
            <div>
                <div class="story-text">
                    <div class="story-image reuben_illustration_1"></div>
                    <div class="story-content">
                        <h3 class="story-title">Key features</h3>
                        <p>Online advisor and calendar</p>

                        <p>Submit CV which can be reviewed by local professionals</p>

                        <p>A forum where you can get advice from others about career or local opportunities (with featured success stories)</p>

                        <p>The ability directly message programme leads and those attending workshops</p>
                    </div>
                </div>
            </div>
            <div>
                <div class="story-text">
                    <div class="story-image reuben_illustration_1"></div>
                    <div class="story-content">
                        <h3 class="story-title">Reuben's Outcomes</h3>
                        <p><strong>Greater control of his employment journey:</strong> Easy access to Advisors and the ability to make new connections to people means Reuben's able to access a range of support around his life and family responsibilities. This enables him to have greater control over his journey to employment.</p>

                        <p><strong>Increased confidence & wider network:</strong> Reuben is able to build new relationships with others in the community developing his confidence and widening the network of people that can offer support.</p>

                        <p><strong>A stronger connection to the community:</strong> Increased connections with those in the community widens his professional network and gives him access to job opportunities. A deeper connection to the support found in Lambeth, so he knows he’s not alone.</p>
                    </div>
                </div>
            </div>
            <div>
                <div class="story-text quotes">
                    <h3 class="story-title">What people say</h3>
                    <div class="half">
                        <strong>Local Residents:</strong>

                        <p>“The idea of connecting with people in the community, that could really help, sounds really good”</p>

                        <p>“What if someone doesn’t have access to a computer is there an alternative, the library services are not great with computers”</p>

                        <p>“Could the profile of activities be shared with the Jobcentre?”</p>
                    </div>
                    <div class="half">
                        <strong>Local Organisations:</strong>

                        <p>“Some people don’t want to speak to people directly, everyone is different, so it creates and alternative”</p>

                        <p>“Many people would still want to walk through the door and have a cup of team”</p>

                        <p>“People need feedback, it sounds simple but it’s really important, is there a way people can get feedback quickly”</p>
                    </div>
                </div>
            </div>
        </div>
        <div id="slider1_nav" class="slider__carousel_nav">
            <div>
                <button>Reuben's Story</button>
            </div>
            <div>
                <button>Key Features</button>
            </div>
            <div>
                <button>Reuben's Outcomes</button>
            </div>
            <div>
                <button>What people say</button>
            </div>
        </div>
    </section>


<!---------------------------------- SECOND STORY ------------------------------->

    <section class="message">
        <hr class="curvy"/>
        <h2 class="message__headline">Concept 2 - Support Hub</h2>
        <p class="message__description">A vibrant place for residents to access complementary formal and informal support, information and guidance and have on the spot referrals.</p>
    </section>

    <section class="slider story-slider">
        <div id="slider2" class="slider__carousel container">
            <div>
                <div class="story-text">
                    <div class="story-image reuben_illustration_2"></div>
                    <div class="story-content">
                        <h3 class="story-title">Reuben's Story</h3>
                        <p>With his improved CV Reuben gets selected for more interviews, but unfortunately nothing materialises. He feels low and discouraged. He heads to the employment hub which delivers advice and support services in one place. He is met by an Adviser (Ben) who is able bring up his profile and understand Reuben's employment journey and goals.</p>

                        <p>Together they create a plan of the people and organisations he can connect with. Using a shared calendar, Ben can see available times. He books an appointment for Reuben and an interview techniques and confidence buidling course. In between the two sessions Reuben attends a peer-network delivered by those who have experienced long-term employment but had started small businesses.</p>
                    </div>
                </div>
            </div>
            <div>
                <div class="story-text">
                    <div class="story-image reuben_illustration_2"></div>
                    <div class="story-content">
                        <h3 class="story-title">Key features</h3>
                        <p>Joint community events</p>
                        <p>Data - open source referrals between organisations</p>
                        <p>Information is shared between organisations and more strategic support can be planned</p>
                        <p>Drop in courses and training provided between appointments</p>
                    </div>
                </div>
            </div>
            <div>
                <div class="story-text">
                    <div class="story-image reuben_illustration_2"></div>
                    <div class="story-content">
                        <h3 class="story-title">Reuben's Outcomes</h3>
                        <p><strong>Increased optimism:</strong> Having access to a variety of connected services gives Reuben a more connected experience and clarity on the diversity of support he can use to move forward.</p>

                        <p><strong>Increased well-being:</strong> having a diverse and impactful experience at the hub, gives him an increased sense of well-being, connection and energy on his journey to well-being.</p>

                        <p><strong>Increased confidence, skills, knowledge and connections:</strong> The courses, session and conversations he has with others builds Reuben's knowledge about local support, and opportunities for him to learn and develop new skills.</p>
                    </div>
                </div>
            </div>
            <div>
                <div class="story-text quotes">
                    <h3 class="story-title">What people say</h3>
                    <div class="half">
                        <strong>Local Residents:</strong>
                        <p>“I think it would be great, people will go away learning and being sign-posted”</p>
                        <p>“I think it would depend on where in the Borough it is. Lambeth is big, I would prefer local”</p>
                        <p>“Group activities could be good as a way of building your interpersonal skills”</p>
                    </div>
                    <div class="half">
                        <strong>Local Organisations:</strong>
                        <p>“A good opportunity for organisations to build meaningful relationships with the benefits being passed on their service delivery”</p>
                        <p>“Some people may not come/travel to the services, they won’t want to travel from one place to another”</p>
                        <p>“We sometimes deliver our services from other organisations, to reach and connect with people who may not be familiar with our organization and people...it takes time to build trust”</p>
                    </div>
                </div>
            </div>
        </div>
        <div id="slider2_nav" class="slider__carousel_nav">
            <div>
                <button>Reuben's Story</button>
            </div>
            <div>
                <button>Key Features</button>
            </div>
            <div>
                <button>Reuben's Outcomes</button>
            </div>
            <div>
                <button>What people say</button>
            </div>
        </div>
    </section>


<!---------------------------------- THIRD STORY ------------------------------->

    <section class="message">
        <hr class="curvy"/>
        <h2 class="message__headline">Concept 3 - Local careers programme</h2>
        <p class="message__description">A programme for local residents to gain flexible work experience experience, training, and development from a collection of local businesses each hosting a part of the programme.</p>
    </section>

    <section class="slider story-slider">
        <div id="slider3" class="slider__carousel container">
            <div>
                <div class="story-text">
                    <div class="story-image reuben_illustration_3"></div>
                    <div class="story-content">
                        <h3 class="story-title">Reuben's Story</h3>
                        <p>One week later Reuben joins a cohort to start a programme focused on mentoring and coaching which he enjoys. By the time Reuben moves on to his third company rotation, his confidence around securing a job has increased and he knows what he would like to explore.</p>

                        <p>At the end of the programme Reuben is put into a pool of candidates who can apply for roles at the companies involved and receives a local accreditation. Applying the learning he gained over the last 3 months, he completes 3 applications with 2 of the companies offering him a job. 1 year on, Reuben is working at a Housing Association as a Training Officer optimistic about the future.</p>
                    </div>
                </div>
            </div>
            <div>
                <div class="story-text">
                    <div class="story-image reuben_illustration_3"></div>
                    <div class="story-content">
                        <h3 class="story-title">Key features</h3>
                        <p>Local authority providing a central HR function to coordinate programme and build capabilities</p>
                        <p>Local businesses involved in the programme awarded a ‘gold star’</p>
                        <p>Residents on the programme receive a local accreditation</p>
                    </div>
                </div>
            </div>
            <div>
                <div class="story-text">
                    <div class="story-image reuben_illustration_3"></div>
                    <div class="story-content">
                        <h3 class="story-title">Reuben's Outcomes</h3>
                        <p><strong>Increased confidence:</strong> new exposure to the working environment and getting familiar again with being employed and managed, Reuben no longer doubts he will be up to the pace and expectations, especially with the right support.</p>

                        <p><strong>Developing new skills:</strong> Through the training Reuben rediscovers things that he is a good at, but also learn new skills and ways of working.</p>

                        <p><strong>Clearer sense of direction:</strong> Working in three local businesses has made is clearer what Rueben what he wants to enjoy, the value he can add and direction he wants to go in.</p>
                    </div>
                </div>
            </div>
            <div>
                <div class="story-text quotes">
                    <h3 class="story-title">What people say</h3>
                    <div class="half">
                        <strong>Local Residents:</strong>
                        <p>“It will give them exposure and makes them believe in themselves”</p>
                        <p>“Trying to juggle wanting support family and work life balance with child care is hard”</p>
                        <p>“Could there be a provision for child care or flexibility depending on your responsibilities”</p>
                    </div>
                    <div class="half">
                        <strong>Local Businesses:</strong>
                        <p>“The connection between different business could also open up opportunities for collaboration”</p>
                        <p>“What’s in it for them? The incentive can’t be just about community at the end of the day they are businesses”</p>
                        <p>“People in businesses have a lot of experience to share even beyond their jobs. If the programme to build on this I think it would fill a gap”</p>
                    </div>
                </div>
            </div>
        </div>
        <div id="slider3_nav" class="slider__carousel_nav">
            <div>
                <button>Reuben's Story</button>
            </div>
            <div>
                <button>Key Features</button>
            </div>
            <div>
                <button>Reuben's Outcomes</button>
            </div>
            <div>
                <button>What people say</button>
            </div>
        </div>
    </section>










    <section class="slider white-slider">
        <div class="message">
            <hr class="curvy"/>
            <h2 class="message__headline">What did we learn about the digital future of Lambeth services?</h2>
        </div>
        <div class="slider__carousel container" id="reuben_final_slider">
            <div>
                <blockquote class="quote-box quote-box--with-big-bottom-margin">
                        <h3 class="quote-box__headline">Services and solutions will be centred on strengthening relationships, community assests and networks</h3>
                        <p class="message__description">People will have increasingly interconnected relationships with each other and this will be reflected in support and services are delivered.</p>
                </blockquote>
                <blockquote class="quote-box quote-box--with-bottom-margin">
                        <h3 class="quote-box__headline">Mobilising civic action & communities delivering services</h3>
                        <p class="message__description">New opportunities for local residents to volunteer their skills and support. Local communities will play a crucial role in shaping and delivering services.</p>
                </blockquote>
            </div>

            <div>
                <blockquote class="quote-box quote-box--with-big-bottom-margin">
                        <h3 class="quote-box__headline">A focus on 'good work'</h3>
                        <p class="message__description"><p class="message__description">Business, local organisations and the council will focus on how people can pursue their aspirations and play to their strengths, enabling them to find employment that is right for them.</p>
                </blockquote>
                <blockquote class="quote-box quote-box--with-bottom-margin">
                        <h3 class="quote-box__headline">Internal testing & learning</h3>
                        <p class="message__description">Lambeth internal teams and departments will be using opportunities to test and learn about what works in supporting the community, using this knowledge to influence local businesses and organisations.</p>
                </blockquote>
            </div>

            <div>
                <blockquote class="quote-box quote-box--with-big-bottom-margin">
                        <h3 class="quote-box__headline">Increased collaboration and coordination</h3>
                        <p class="message__description">Local organisations will be working closely together, with shared outcomes, objectives and outreach; maximising their collective knowledge and impact. Lambeth with play a role of convening online and offline spaces for learning to be shared between organistations using their influence to create strategic opportunities for the sector.</p>
                </blockquote>
                <blockquote class="quote-box quote-box--with-bottom-margin">
                        <h3 class="quote-box__headline">Place-based approaches</h3>
                        <p class="message__description">Services will be shaped based on characteristics of different localities, building on local assets and recognising the nuances between communities. There is no one-size fits all approach.</p>
                </blockquote>
            </div>

            <div>
                <blockquote class="quote-box quote-box--with-big-bottom-margin">
                        <h3 class="quote-box__headline">Businesses working closely with communities and each other</h3>
                        <p class="message__description">Businesses of all sizes will be active in their communities economic and social development, with a focus on developing initiatives for their exisiting employees to support the local community. Also business working more closely with other local businesses (big and small) to take a more joined up approach to corporate social responsibility.</p>
                </blockquote>
            </div>
        </div>
        <div id="reuben_final_slider_nav" class="slider__carousel_nav">
            <div>
                <button>Citizens</button>
            </div>
            <div>
                <button>Council</button>
            </div>
            <div>
                <button>Community</button>
            </div>
            <div>
                <button>Business</button>
            </div>
        </div>
    </section>

    <section class="list container">
        <aside class="list__intro">
            <h2 class="list__headline">Explore our digital vision</h2>
            <p class="list__lede">To deliver on this vision we will orientate ourselves around the services we provide, to ensure seamless experiences for our people. Follow Sabrina or Reuben through a possible future of Lambeth services.</p>
        </aside>
        <ul class="list__items">
            <a href="/sabrina.html" class="list__item">
                <div id="sabrina_profile" class="small_profile"></div>
                <h3 class="list__subtitle">Sabrina</h3>
                <p>Follow Sabrina as she navigates her time moving to, and thriving in Lambeth. </p>
            </a>
            <a href="/deliveringourvision.html" class="list__item">
                <h3 class="list__subtitle">Delivering our vision</h3>
                <p>To deliver our vision, it is broken down into three digital themes and outcomes. They focus on transforming how we support our residents, use our data, and work as a council to remain relevant in the 21st century.</p>
            </a>
        </ul>
    </section>
</div>
{% endblock %}
