{% extends "partials/_template.html" %}
{% block content %}

    <section class="hero">
        <div class="hero__bg hero__bg--sabrina"></div>
        <div class="container hero__inner">
                <img class="hero__logo" src="/img/logo.png" alt="Lambeth Council"/>
                <a class="hero__home" href="/">Back home</a>
                <h1 class="hero__headline">Living in Lambeth</h1>
                <p class="hero__slogan">Lambeth residents shouldn’t have to understand how Lambeth is organised to access / receive the support they need.</p>
        </div>
    </section>

    <section class="list container">
        <aside class="list__intro">
            <p class="list__lede">Living in Lambeth brings together multiple siloed services to deliver user-centred services that cut across Lambeth’s offer. This can save resources and ensure our efforts are focussed on the most vulnerable residents who need personal support.</p>
            <p class="list__lede">It will deliver a seamless experience from the moment someone moves into Lambeth, to when they leave it. Key objectives for this service are to:</p>
        </aside>
        <ul class="list__items">
            <li class="list__item"><p>Be an <strong>inclusive council</strong> who are a partner throughout a residents lifecycle in Lambeth</p></li>
            <li class="list__item"><p>Connect relevant Lambeth services to <strong>work as one</strong></p></li>
            <li class="list__item"><p><strong>Reduce the need</strong> to repeat tasks or enter information multiple times</p></li>
            <li class="list__item"><p>Signpost to services <strong>in and outside</strong> of Lambeth that can provide support</p></li>
        </ul>
    </section>

    <section class="boxes">
        <div class="container">
            <h2 class="boxes__headline">Challenges</h2>
            <ul class="boxes__list">
                <li class="boxes__box">The current service offer is not holistic, resulting in <strong>multiple, frustrating touchpoints</strong></li>
                <li class="boxes__box">Unclear and <strong>disjointed communications</strong> & processes create failure demand in Civic Centre</li>
                <li class="boxes__box"><strong>Repetition of data / information collection</strong> negatively impacts the user experience</li>
                <li class="boxes__box">Number of residents increases as the <strong>number of staff remains the same</strong></li>
            </ul>
        </div>
    </section>


<!---------------------------------- FIRST STORY ------------------------------->

    <section class="message">
        <hr class="curvy"/>
        <h2 class="message__headline">I move to lambeth</h2>
        <p class="message__description">When moving to Lambeth you are able to easily access all relevant services to quickly set yourself up.</p>
        <p class="message__description">Services from outside and inside the council should come together into one service offer to ensure an easy, fast, tailored experience. This means clear signposting to all relevant services - from libraries to leisure centres. This will give people time back to focus on other priorities.</p>
    </section>

    <section class="slider story-slider">
        <div class="slider__carousel container">
            <div>
                <div class="story-text">
                    <div class="story-image sabrina_illustration_1"></div>
                    <div class="story-content">
                        <h3 class="story-title">Sabrina's Story</h3>
                        <p>Sabrina easily sets up all the services she wants through the Service Bot, and is prompted to next steps and other handy services.</p>

                        <p>Sabrina opens a welcome letter a few days after moving into her new place from Lambeth. She reads some handy information, and is prompted to text Lambeth to set up some key services.</p>
                    </div>
                </div>
            </div>
            <div>
                <div class="story-text">
                    <div class="story-image sabrina_illustration_1"></div>
                    <div class="story-content">
                        <p>Sabrina texts the Service Bot, and selects council tax, parking, voting and rubbish to be set up when prompted. She also selects “Get a Job” and “Find a doctor” from a list of additional services she might be interested in to get more information.</p>
                        <p>She finds the Service Bot easy to follow, and completes it all first go. Along the journey, she confirms the information the council already new about her, and adds additional information about her living situation.</p>
                    </div>
                </div>
            </div>
            <div>
                <div class="story-text">
                    <div class="story-image sabrina_illustration_1"></div>
                    <div class="story-content">
                        <h3 class="story-title">Key features</h3>
                        <p>Step by step navigation - users do not have to scroll through long forms and they can see their progress, the ServiceBotwill step people through the process.</p>

                        <p>Clear next steps - users know when they have been successful and the next steps are clearly described, so the know where / how the journey will continue.</p>

                        <p>Responsive service bot - the service bot will react in kind to predetermined messaging and signpost to other services across the council and borough.</p>
                    </div>
                </div>
            </div>
            <div>
                <div class="story-text">
                    <div class="story-image sabrina_illustration_1"></div>
                    <div class="story-content">
                        <h3 class="story-title">Outcomes</h3>
                        <p>Sabrina feels empowered as she can choose her own journey, and preferred way forward.</p>

                        <p>Knowing there are a range of services to support Sabrina is comforting and reassuring.</p>

                        <p>Tailored services to her situation gives a sense of positivity that they will work for her.</p>
                    </div>
                </div>
            </div>
            <div>
                <div class="story-text">
                    <div class="story-image sabrina_illustration_1"></div>
                    <div class="story-content">
                        <h3 class="story-title">How to start</h3>
                        <p>Design and test a responsive questionnaire to narrow down services.</p>

                        <p>Think big, start small.</p>

                        <p>Content and UX design to improve the ease of getting the right support.</p>

                        <p>Define customer service standards across Lambeth.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>


<!---------------------------------- SECOND STORY ------------------------------->


    <section class="message">
        <hr class="curvy"/>
        <h2 class="message__headline">I thrive in Lambeth</h2>
        <p class="message__description">While living in Lambeth, all services are connected and easily accessible to enable everyone to thrive.</p>
        <p class="message__description">Services should be organised around life events “Get married”, and proactively reach out to everyone, as well as welcome in. Giving people the tools to thrive, as well as supporting them as early as possible.</p>
    </section>

    <section class="slider story-slider">
        <div class="slider__carousel container">
            <div>
                <div class="story-text">
                    <div class="story-image sabrina_illustration_1"></div>
                    <div class="story-content">
                        <h3 class="story-title">Sabrina's Story</h3>
                        <p>Sabrina gets a payment calendar which nudges her for all payments to the council, and proactively prompts her for support when required.</p>

                        <p>Sabrina is sent a link with nearby doctors to get her and her daughter registered the next day. On the same day, Sabrina opens up her council tax email. She sees when and how much her tax is, and quickly pays her first installment. She clicks the link to download the payment calendar, preferring to be reminded about payment, rather than automatic payment in case she doesn't have the money.</p>
                    </div>
                </div>
            </div>
            <div>
                <div class="story-text">
                    <div class="story-image sabrina_illustration_1"></div>
                    <div class="story-content">
                        <p>She opens up her payment calendar and chooses from a list to include her council tax and parking renewal.</p>
                        <p>Next month she is notified by the app 3 days prior to tax being due, and is also emailed. She opens the calendar app where she can pay directly through. However, she does not have the money currently, so selects “I think I might miss this payment”.</p>
                        <p>Sabrina is messaged 20 minutes later by the Service Bot to better understand her situation, and how Lambeth can help.</p>
                    </div>
                </div>
            </div>
            <div>
                <div class="story-text">
                    <div class="story-image sabrina_illustration_1"></div>
                    <div class="story-content">
                        <h3 class="story-title">Key features</h3>
                        <p>Clear call to action - we make it easy for users to complete actions (like payment) and steer them towards what we would like them to do (direct debit), download payment calendar.</p>

                        <p>Payment calendar - A payment calendar you can download to nudge residents when to pay, and notify the council when it is not paid, and pay within it.</p>

                        <p>Signposting - we want people who are struggling to pay their bills to tell us as soon as possible and get support.</p>
                    </div>
                </div>
            </div>
            <div>
                <div class="story-text">
                    <div class="story-image sabrina_illustration_1"></div>
                    <div class="story-content">
                        <h3 class="story-title">Outcomes</h3>
                        <p>Sabrina is informed about clear next steps, and what she needs to do in the short term.</p>

                        <p>The payment calendar gives Sabrina the sense of financial control.</p>

                        <p>Sabrina feels at ease knowing that support is available before requiring it.</p>
                    </div>
                </div>
            </div>
            <div>
                <div class="story-text">
                    <div class="story-image sabrina_illustration_1"></div>
                    <div class="story-content">
                        <h3 class="story-title">How to start</h3>
                        <p>Think big, start small.</p>

                        <p>Design and test new council tax email with clear signposting, next steps.</p>

                        <p>Design and test when and how to send reminders and updates during council tax process.</p>

                        <p>Test data checks across council with templates to capture data in the same way across teams</p>
                    </div>
                </div>
            </div>
        </div>
    </section>


<!---------------------------------- THIRD STORY ------------------------------->


    <section class="message">
        <hr class="curvy"/>
        <h2 class="message__headline">I need support</h2>
        <p class="message__description">Services reach out and welcome in before, and when, you need support - to provide tailored support consistently across multiple channels.</p>
        <p class="message__description">Before the need arises for support, services should be able to proactively reach out to those who require it. The same services should also welcome people in when they realise they need support. The support services should diagnose the wider context of why support is needed, and bring the whole of the borough services to the table to deliver fit for purpose support.</p>
    </section>

    <section class="slider story-slider">
        <div class="slider__carousel container">
            <div>
                <div class="story-text">
                    <div class="story-image sabrina_illustration_1"></div>
                    <div class="story-content">
                        <h3 class="story-title">Sabrina's Story</h3>
                        <p>Sabrina uses an Online Advisor to ensure all relevant information is supplied to the Borough to ensure the right services are provided.</p>

                        <p>Sabrina opens up the ServiceBot text that offers relevant services to her that can help her avoid missing council tax. She is embarrassed to speak to someone, so clicks through to the Lambeth Online Advisor - and is taken to a webpage.</p>
                    </div>
                </div>
            </div>
            <div>
                <div class="story-text">
                    <div class="story-image sabrina_illustration_1"></div>
                    <div class="story-content">
                        <p>She is welcomed to the Online advisor, and answers a few easy questions on her housing, health and employment situation. She is immediately presented with a few options that resonate with her, short term, long term, and services outside of the council..</p>
                        <p>Sabrina likes the range of services on offer, particularly the long term support services provided by the council and outside of the council as she wants to be independent going forward..</p>
                    </div>
                </div>
            </div>
            <div>
                <div class="story-text">
                    <div class="story-image sabrina_illustration_1"></div>
                    <div class="story-content">
                        <h3 class="story-title">Key features</h3>
                        <p>Online Advisor - A webpage driven advisor that asks simple questions designed to narrow down the services to access.</p>

                        <p>Other relevant services - the service will support / provide information to residents in applying for other services.</p>

                        <p>Responsive forms - designed mobile first, accessible and developed iteratively with users.</p>
                    </div>
                </div>
            </div>
            <div>
                <div class="story-text">
                    <div class="story-image sabrina_illustration_1"></div>
                    <div class="story-content">
                        <h3 class="story-title">Outcomes</h3>
                        <p>Sabrina feels empowered as she can choose her own journey, and preferred way forward.</p>

                        <p>Knowing there are a range of services to support Sabrina is comforting and reassuring.</p>

                        <p>Tailored services to her situation gives a sense of positivity that they will work for her.</p>
                    </div>
                </div>
            </div>
            <div>
                <div class="story-text">
                    <div class="story-image sabrina_illustration_1"></div>
                    <div class="story-content">
                        <h3 class="story-title">How to start</h3>
                        <p>Design and test a responsive questionnaire to narrow down services.</p>

                        <p>Think big, start small.</p>

                        <p>Content and UX design to improve the ease of getting the right support.</p>

                        <p>Define customer service standards across Lambeth.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>


<!---------------------------------- FOURTH STORY ------------------------------->


    <section class="message">
        <hr class="curvy"/>
        <h2 class="message__headline">I recieve support</h2>
        <p class="message__description">When recieving support, everyone can access a range of services that are tailored to their situation in the first instance, from one place.</p>
        <p class="message__description">Services should provide options for immediate resolution, and long term support. People can access a range of support services (internal and external) in one place - an entire borough supporting people, not just one council. The services people recieve should be tailored to people. Support services offer the same level of service no matter what entry point, and should always leave people with clear next steps.</p>
    </section>

    <section class="slider story-slider">
        <div class="slider__carousel container">
            <div>
                <div class="story-text">
                    <div class="story-image sabrina_illustration_4"></div>
                    <div class="story-content">
                        <h3 class="story-title">Sabrina's Story</h3>
                        <p>Sabrina is able to get immediate resolution to her situation, and is able to access long term support from one place.</p>

                        <p>Sabrina selects the short term, “Apply for tax reduction” option to resolve her immediate situation in the Online Advisor.</p>

                        <p>She takes a photo of her drivers licence, and then takes a quick video asking for a tax reduction within th Online Advisor. After a few extra questions she is done. The confirmation page prompts her to long term support - in this case she selects ‘Multi-Agency support service’ - reads a bit about it, and provides times to the Online Advisor so it can set up an initial meeting with an advisor.</p>
                    </div>
                </div>
            </div>
            <div>
                <div class="story-text">
                    <div class="story-image sabrina_illustration_4"></div>
                    <div class="story-content">
                        <p>In the morning, Sabrina opens an email with confirmation of council tax reduction, and an appointment with an advisor in two days time.</p>

                        <p>The meeting goes well. She feels confident that although it’s the beginning of a long journey, the support she will receive from the “get into work” service will give her the opportunity to thrive in Lambeth. She opens her collaborative action plan in her email which sets out what her and the council will do to reach financial independence, and thrive.</p>
                    </div>
                </div>
            </div>
            <div>
                <div class="story-text">
                    <div class="story-image sabrina_illustration_4"></div>
                    <div class="story-content">
                        <h3 class="story-title">Key features</h3>
                        <p>Online Advisor - A webpage driven advisor that asks simple questions designed to narrow down the services to access.</p>

                        <p>Multi agency support - bringing internal and external council services to the table through one channel.</p>

                        <p>Multiple channels - human or digital channels provide the same level of service.</p>

                        <p>ID authentication - picture and video identification authentication through Online Advisor.</p>
                    </div>
                </div>
            </div>
            <div>
                <div class="story-text">
                    <div class="story-image sabrina_illustration_4"></div>
                    <div class="story-content">
                        <h3 class="story-title">Outcomes</h3>
                        <p>Sabrina is relieved that her problem has been resolved at first contact.</p>

                        <p>Sabrina feels organised, and can maximise her own time.</p>

                        <p>Sabrina has an increased sense of being able to be financially independent.</p>
                    </div>
                </div>
            </div>
            <div>
                <div class="story-text">
                    <div class="story-image sabrina_illustration_4"></div>
                    <div class="story-content">
                        <h3 class="story-title">How to start</h3>
                        <p>Think big, start small.</p>

                        <p>Design and prototype confirmation emails with clear next steps and sign posting.</p>

                        <p>Prototype new forms of authentication approval.</p>

                        <p>Design and prototype email action plans that link to other services.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>


<!---------------------------------- FITH STORY ------------------------------->


    <section class="message">
        <hr class="curvy"/>
        <h2 class="message__headline">I stay independent</h2>
        <p class="message__description">Services support everyone to stay independent, and proactively reach out with tailored services when situations change.</p>
        <p class="message__description">As people's situations change, and life events occur Lambeth should be using the data it has to actively reach out / nudge people with services that are tailored to their needs. Support provided by services should continue throughout the lifecycle of a residents time in Lambeth - particularly until they are confident of remaining independent, and thriving once more.</p>
    </section>

    <section class="slider story-slider">
        <div class="slider__carousel container">
            <div>
                <div class="story-text">
                    <div class="story-image sabrina_illustration_5"></div>
                    <div class="story-content">
                        <h3 class="story-title">Sabrina's Story</h3>
                        <p>Sabrina is prompted with services that can support her through early motherhood, and answer surveys relating to the services she uses.</p>

                        <p>Sabrina is continuing to receive support from the “get into work” service as part of staying independent now that she is in a job. Over that time her and her partner have moved in together, and have had another baby.</p>
                    </div>
                </div>
            </div>
            <div>
                <div class="story-text">
                    <div class="story-image sabrina_illustration_5"></div>
                    <div class="story-content">
                        <p>After one of her check ups, Sabrina is surprised and happy to receive a congratulations message from the Lambeth Service Bot. With it she is shown options of other services that relate to her past financial and new family status. She quickly updates her info through text, and clicks through to “Get a better start for my child” for more information.</p>

                        <p>Sabrina gets a text every seasonal change from the Service Bot, asking specifically about the services she is using, and questions relating to her situation. At this stage she is delighted with the joint up support she is receiving from the council and wider borough.</p>
                    </div>
                </div>
            </div>
            <div>
                <div class="story-text">
                    <div class="story-image sabrina_illustration_5"></div>
                    <div class="story-content">
                        <h3 class="story-title">Key features</h3>
                        <p>Responsive service bot - the service bot will react in kind to predetermined messaging, and be able to reach out to residents.</p>

                        <p>Other relevant services - the service will support / provide information to residents in applying for other services.</p>

                        <p>Signposting - we want people to know what services are available to them.</p>
                    </div>
                </div>
            </div>
            <div>
                <div class="story-text">
                    <div class="story-image sabrina_illustration_5"></div>
                    <div class="story-content">
                        <h3 class="story-title">Outcomes</h3>
                        <p>Sabrina is more knowledgeable about what is available to her given different situations.</p>

                        <p>Sabrina is confident the council has her best interest at heart.</p>

                        <p>Sabrina is reassured that support is available in this new journey.</p>
                    </div>
                </div>
            </div>
            <div>
                <div class="story-text">
                    <div class="story-image sabrina_illustration_5"></div>
                    <div class="story-content">
                        <h3 class="story-title">How to start</h3>
                        <p>Think big, start small.</p>

                        <p>Test data checks across council with templates to capture data in the same way across teams.</p>

                        <p>Data discovery to understand any gaps in our infomration.</p>

                        <p>Investigate when and how to proactively reach out to residents.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>


<!---------------------------------- SIXTH STORY ------------------------------->


    <section class="message">
        <hr class="curvy"/>
        <h2 class="message__headline">I move out of Lambeth</h2>
        <p class="message__description">When moving out of Lambeth residents can access all services required to move out in one place, and help residents to thrive faster in the next place.</p>
        <p class="message__description">When moving out of Lambeth residents should only need to contact the council once. Here they should be signposted to all services, such as furniture movers, that they might need to make the move as easy as possible. This includes sharing information with the borough residents are moving to, so they can sooner thrive there.</p>
    </section>

    <section class="slider story-slider">
        <div class="slider__carousel container">
            <div>
                <div class="story-text">
                    <div class="story-image sabrina_illustration_1"></div>
                    <div class="story-content">
                        <h3 class="story-title">Sabrina's Story</h3>
                        <p>Sabrina gets all the services she needs to move out in one place, including being able to forward her information to her new borough..</p>

                        <p>Sabrina and her family are looking to upsize, and decide a move to Lewisham wil give them more space. Sabrina quickly googles “moving out of lambeth” knowing how much she will have to do to organise the move. She is prompted to contact the Lambeth Service Bot.</p>
                    </div>
                </div>
            </div>
            <div>
                <div class="story-text">
                    <div class="story-image sabrina_illustration_1"></div>
                    <div class="story-content">
                        <p>The Service Bot responds to her instantly to confirm her address, and then organises her final payments. It suggests a number of services that could be useful, she selects “Move my furniture”, and is shown a list easy access links to moving companies to use..</p>

                        <p>A few hours later she opens an email with her final payments, and selects to set up a payment plan rather than pay all her outstanding bills at once. Her payment calendar notifies her of the additional payments.</p>

                        <p>She then enters her new postal code, and allows the Service Bot to share her and her families information with Lewisham borough to make the transition as smooth as possible.</p>
                    </div>
                </div>
            </div>
            <div>
                <div class="story-text">
                    <div class="story-image sabrina_illustration_1"></div>
                    <div class="story-content">
                        <h3 class="story-title">Key features</h3>
                        <p>Other relevant services - the service will support / provide information to residents in applying for other services.</p>

                        <p>Clear next steps - users know when they have been successful and the next steps are clearly described.</p>

                        <p>Data sharing - open data standards to be able to share between boroughs, and any other community services that the resident might like..</p>
                    </div>
                </div>
            </div>
            <div>
                <div class="story-text">
                    <div class="story-image sabrina_illustration_1"></div>
                    <div class="story-content">
                        <h3 class="story-title">Outcomes</h3>
                        <p>Sabrina feels relaxed about the move seeing all the information she needs is at her fingertips.</p>

                        <p>The payment plan gives Sabrina freedom to thrive faster in her new home.</p>

                        <p>Knowing Sabrina’s next borough has her information give time back to Sabrina to thrive faster in her new home.</p>
                    </div>
                </div>
            </div>
            <div>
                <div class="story-text">
                    <div class="story-image sabrina_illustration_1"></div>
                    <div class="story-content">
                        <h3 class="story-title">How to start</h3>
                        <p>Think big, start small.</p>

                        <p>Design and prototype a leaving message for residents.</p>

                        <p>Design and prototype a single leaving bill, including payment plan.</p>

                        <p>Investigate posibility of data sharing with other boroughs.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="list container">
        <aside class="list__intro">
            <h2 class="list__headline">Explore our digital vision:</h2>
            <p class="list__lede">To deliver on this vision we will orientate ourselves around the services we provide, to ensure seamless experiences for our people. Follow Sabrina or Bob through a possible future of Lambeth services.</p>
        </aside>
        <ul class="list__items">
            <a href="#" class="list__item"><span class="list__number">Reuben</span><p>Ensure benefits of growth <strong>increase community resilience</strong>, and that we target investment at <strong>preventative services</strong></p></a>
            <a href="#" class="list__item"><span class="list__number">...</span><p>Reform the way we <strong>commission and deliver</strong> services with our partners to provide and promote <strong>care and independence</strong></p></a>
        </ul>
    </section>
{% endblock %}
