{% extends "partials/_template.html" %}
{% block content %}

    <section class="hero">
        <div class="hero__bg hero__bg--sabrina"></div>
        <div class="container hero__inner">
                <img class="hero__logo" src="/img/logo.png" alt="Lambeth Council"/>
                <a class="hero__home" href="/">Back home</a>
                <h1 class="hero__headline">Living in Lambeth</h1>
                <p class="hero__slogan">Lambeth residents shouldn’t have to understand how Lambeth is organised to access / receive the support they need.</p>
        </div>
    </section>

    <section class="list container">
        <aside class="list__intro">
            <p class="list__lede">Living in Lambeth brings together multiple siloed services to deliver user-centred services that cut across Lambeth’s offer. This can save resources and ensure our efforts are focussed on the most vulnerable residents who need personal support.</p>
            <p class="list__lede">It will deliver a seamless experience from the moment someone moves into Lambeth, to when they leave it. Key objectives for this service are to:</p>
        </aside>
        <ul class="list__items">
            <li class="list__item"><p>Be an <strong>inclusive council</strong> who are a partner throughout a residents lifecycle in Lambeth</p></li>
            <li class="list__item"><p>Connect relevant Lambeth services to <strong>work as one</strong></p></li>
            <li class="list__item"><p><strong>Reduce the need</strong> to repeat tasks or enter information multiple times</p></li>
            <li class="list__item"><p>Signpost to services <strong>in and outside</strong> of Lambeth that can provide support</p></li>
        </ul>
    </section>

    <section class="boxes">
        <div class="container">
            <h2 class="boxes__headline">Challenges</h2>
            <ul class="boxes__list">
                <li class="boxes__box">The current service offer is not holistic, resulting in <strong>multiple, frustrating touchpoints</strong></li>
                <li class="boxes__box">Unclear and <strong>disjointed communications</strong> & processes create failure demand in Civic Centre</li>
                <li class="boxes__box"><strong>Repetition of data / information collection</strong> negatively impacts the user experience</li>
                <li class="boxes__box">Number of residents increases as the <strong>number of staff remains the same</strong></li>
            </ul>
        </div>
    </section>

    <section class="message">
        <hr class="curvy"/>
        <h2 class="message__headline">I move to lambeth</h2>
        <p class="message__description">When moving to Lambeth you are able to easily access all relevant services to quickly set yourself up.</p>
        <p class="message__description">Services from outside and inside the council should come together into one service offer to ensure an easy, fast, tailored experience. This means clear signposting to all relevant services - from libraries to leisure centres. This will give people time back to focus on other priorities.</p>
    </section>

    <section class="slider story-slider">
        <div class="slider__carousel container">
                <div>
                    <div class="story-text">
                        <div class="story-image sabrina_illustration_1"></div>
                        <div class="story-content">
                            <h3 class="story-title">Sabrina's Story</h3>
                            <p>Sabrina easily sets up all the services she wants through the Service Bot, and is prompted to next steps and other handy services.</p>

                            <p>Sabrina opens a welcome letter a few days after moving into her new place from Lambeth. She reads some handy information, and is prompted to text Lambeth to set up some key services.</p>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="story-text">
                        <div class="story-image sabrina_illustration_1"></div>
                        <div class="story-content">
                            <p>Sabrina texts the Service Bot, and selects council tax, parking, voting and rubbish to be set up when prompted. She also selects “Get a Job” and “Find a doctor” from a list of additional services she might be interested in to get more information.</p>
                            <p>She finds the Service Bot easy to follow, and completes it all first go. Along the journey, she confirms the information the council already new about her, and adds additional information about her living situation.</p>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="story-text">
                        <div class="story-image sabrina_illustration_1"></div>
                        <div class="story-content">
                            <h3 class="story-title">Key features</h3>
                            <p>Step by step navigation - users do not have to scroll through long forms and they can see their progress, the ServiceBotwill step people through the process.</p>

                            <p>Clear next steps - users know when they have been successful and the next steps are clearly described, so the know where / how the journey will continue.</p>

                            <p>Responsive service bot - the service bot will react in kind to predetermined messaging and signpost to other services across the council and borough.</p>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="story-text">
                        <div class="story-image sabrina_illustration_1"></div>
                        <div class="story-content">
                            <h3 class="story-title">Outcomes</h3>
                            <p>Sabrina feels empowered as she can choose her own journey, and preferred way forward.</p>

                            <p>Knowing there are a range of services to support Sabrina is comforting and reassuring.</p>

                            <p>Tailored services to her situation gives a sense of positivity that they will work for her.</p>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="story-text">
                        <div class="story-image sabrina_illustration_1"></div>
                        <div class="story-content">
                            <h3 class="story-title">How to start</h3>
                            <p>Design and test a responsive questionnaire to narrow down services.</p>

                            <p>Think big, start small.</p>

                            <p>Content and UX design to improve the ease of getting the right support.</p>

                            <p>Define customer service standards across Lambeth.</p>
                        </div>
                    </div>
                </div>
    </section>
{% endblock %}
