{% extends "partials/_template.html" %}
{% block content %}

    <section class="hero">
        <div class="hero__bg hero__bg--sabrina"></div>
        <div class="container hero__inner">
                <img class="hero__logo" src="/img/logo.png" alt="Lambeth Council"/>
                <a class="hero__home" href="/">Back home</a>
                <h1 class="hero__headline">Living in Lambeth</h1>
                <p class="hero__slogan">Lambeth residents shouldn’t have to understand how Lambeth is organised to access / receive the support they need.</p>
        </div>
    </section>

    <section class="list container">
        <aside class="list__intro">
            <p class="list__lede">Living in Lambeth brings together multiple siloed services to deliver user-centred services that cut across Lambeth’s offer. This can save resources and ensure our efforts are focussed on the most vulnerable residents who need personal support.</p>
            <p class="list__lede">It will deliver a seamless experience from the moment someone moves into Lambeth, to when they leave it. Key objectives for this service are to:</p>
        </aside>
        <ul class="list__items">
            <li class="list__item"><p>Be an <strong>inclusive council</strong> who are a partner throughout a residents lifecycle in Lambeth</p></li>
            <li class="list__item"><p>Connect relevant Lambeth services to <strong>work as one</strong></p></li>
            <li class="list__item"><p><strong>Reduce the need</strong> to repeat tasks or enter information multiple times</p></li>
            <li class="list__item"><p>Signpost to services <strong>in and outside</strong> of Lambeth that can provide support</p></li>
        </ul>
    </section>

    <section class="boxes">
        <div class="container">
            <h2 class="boxes__headline">Challenges</h2>
            <ul class="boxes__list">
                <li class="boxes__box">The current service offer is not holistic, resulting in <strong>multiple, frustrating touchpoints</strong></li>
                <li class="boxes__box">Unclear and <strong>disjointed communications</strong> & processes create failure demand in Civic Centre</li>
                <li class="boxes__box"><strong>Repetition of data / information collection</strong> negatively impacts the user experience</li>
                <li class="boxes__box">Number of residents increases as the <strong>number of staff remains the same</strong></li>
            </ul>
        </div>
    </section>

    <section class="message">
        <hr class="curvy"/>
        <h2 class="message__headline">I move to lambeth</h2>
        <p class="message__description">When moving to Lambeth you are able to easily access all relevant services to quickly set yourself up.</p>
        <p class="message__description">Services from outside and inside the council should come together into one service offer to ensure an easy, fast, tailored experience. This means clear signposting to all relevant services - from libraries to leisure centres. This will give people time back to focus on other priorities.</p>
    </section>

    <section class="slider story-slider">
        <div class="slider__carousel container">
                <div>
                    <div class="story-text">
                        <div class="story-image sabrina_illustration_1"></div>
                        <div class="story-content">
                            <h3 class="story-title">Sabrina's Story</h3>
                            <p>Sabrina easily sets up all the services she wants through the Service Bot, and is prompted to next steps and other handy services.</p>

                            <p>Sabrina opens a welcome letter a few days after moving into her new place from Lambeth. She reads some handy information, and is prompted to text Lambeth to set up some key services.</p>
                        </div>
                    </div>
                </div>

                <div>
                    <blockquote class="quote-box">
                            <h3 class="quote-box__headline">Inclusive</h3>
                            <p>People are at the heart of all decisions made, we must understand all of their needs, act in kind, and be caring and open always - to help make Lambeth a place people want to live, work, invest and thrive.</p>
                    </blockquote>
                    <div class="slider__quotes slider__quotes--with-columns">
                        <aside class="slider__quote">
                            <hr class="curvy"/>
                            <q>Not leaving people behind or out. The services have to be for everybody regardless of your background</q>
                        </aside>
                        <aside class="slider__quote">
                            <hr class="curvy"/>
                            <q>It’s about communication and transparency about what the council is capable of delivering, the difficulties they face and why they are not acting</q>
                        </aside>
                    </div>
                </div>


                <div>
                    <blockquote class="quote-box">
                            <h3 class="quote-box__headline">Everyone</h3>
                            <p>Every resident, business, community, council worker. They are our users, lets work with them and represent them all to promote care and independence.</p>
                    </blockquote>
                    <div class="slider__quotes">
                        <aside class="slider__quote">
                            <hr class="curvy"/>
                            <q>There’s lots of people and organisations already doing things [providing services] it’s about getting them involved properly</q>
                        </aside>
                    </div>
                </div>


                <div>
                    <blockquote class="quote-box">
                            <h3 class="quote-box__headline">Services</h3>
                            <p>Providing services that work, are fit for purpose, readily available and enjoyable. We will target our investment to increase resilience in Lambeth.</p>
                    </blockquote>
                    <div class="slider__quotes slider__quotes--with-columns">
                        <aside class="slider__quote">
                            <hr class="curvy"/>
                            <q>Services where everyone feels welcomed and cared about...where people's cultural backgrounds are considered</q>
                        </aside>
                        <aside class="slider__quote">
                            <hr class="curvy"/>
                            <q>We can’t expect people to come to services, services need to also go to them, especially the young people</q>
                        </aside>
                    </div>
                </div>

                <div>
                    <blockquote class="quote-box quote-box--with-big-bottom-margin">
                            <h3 class="quote-box__headline">Modern technology</h3>
                            <p>Technology that is informed by user-need, is design led, and is delivered iteratively. It will be open, scalable, adaptable, easily maintainable, user led, and less reliant on single third party suppliers. The technology of Lambeth will enable modern ways of working.</p>
                    </blockquote>
                    <blockquote class="quote-box quote-box--with-bottom-margin">
                            <h3 class="quote-box__headline">Modern ways of working</h3>
                            <p>Modern ways of working encompasses the structures we work in, the processes we work with, the tools we work with, and the way in which we deliver our work.</p>
                    </blockquote>
                </div>


    </section>
{% endblock %}
